body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0px 0px;
}

h1 {
    font-size: 26pt;
}

#profile_image_div {
    width: 280px;
    height: 280px;
    margin: 10px auto;
}

#profile_image {
    width: 100%;
    height: 100%;
    border-color: #777;
}

#logout_button {
    display:none;
    margin-top: 150px;
    font-size: 13px;
}

#status_div {
    padding: 20px;
    font-size: 14px;
    color: #f66;
}

.blue_button {
    box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    background-color: #637aad;
    border: 1px solid #314179;
    display:none;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}
.blue_button:hover {
	background-color: #5972a7;
}
.blue_button:active {
	position: relative;
	top: 1px;
}

#spinner {
    margin: auto;
    display: none;
    margin-top: -155px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
